<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/navbar.ejs") %>
    <div class="container" style="min-height: 100vh">
      <div class="row">
        <div class="col-sm-6 mt-5 mx-auto">
          <h1 class="text-center">404 Error</h1>
        </div>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
