<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong> <%= typeof msg != 'undefined' ? msg : '' %></strong>
</div>
<img
  src="<%= typeof file != 'undefined' ? file : '' %>"
  class="img-thumbnail"
  style="width: 100px; height: 100px; border-radius: 50%"
/>
