<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/navbar.ejs") %>
    <div class="container text-white" style="min-height: 100vh">
      <div class="row">
        <div class="col-sm-8 mt-5 mx-auto">
          <h2 class="text-center">About Us</h2>
          <hr class="solid w-25 mx-auto bg-danger pb-1 rounded" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ea
            quos animi sed maxime numquam nam aut dicta quibusdam tempore
            laboriosam commodi, odio ex. Pariatur, aperiam! Vitae eveniet
            expedita in officia dolore quisquam assumenda voluptas vero
            obcaecati laboriosam aspernatur nostrum, hic tempore facilis sed,
            minima ipsum sit iste! Inventore, facere!
          </p>
        </div>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
